body {
    background-color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

h1 {
    font-size: 30px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

#kalimat {
    font-size: 25px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 6px;
}

#gambar {
    width: 500px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50px;

}